body {
    color: white;
}

#mainGrid {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#topBar {
    background-color: rgb(156, 91, 137);
}

#sideBar {
    height: 100%;
    width: 100%;
    background-color: rgb(94, 53, 81);
}

#mainWindow {
    height: 100%;
    width: 100%;
    background-color: rgb(94, 53, 81);
}