body {
    color: white;
    margin: 0;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#mainGrid {
    display: flex;
    flex-direction: row;
    flex-grow: 20;

    max-height: 100%;
    max-width: 100%;    
}

/* TOP BAR CONTENT */

#topBar {
    background-color: rgb(156, 91, 137);
    flex-grow: 0.5;

}

/* MAIN WINDOW CONTENT */

#mainWindow {
    display: block;
    background-color: rgb(68, 38, 59);
    flex-grow: 20;
}

/* SIDEBAR CONTENT */

#sideBar {
    display: flex;
    background: linear-gradient(90deg, rgb(156, 91, 137) 68%, rgb(68, 38, 59) 22%);
    background-color: rgb(68, 38, 59);
    /*background-color: rgb(156, 91, 137);*/
    flex-direction: column;
    flex-grow: 1;
}

.sideBarContent{
    display: block;
    margin-top: 4%;
    padding: 1%;
    border-radius: 0px 10px 10px 0px;
    background: black;
    width: 70%;
    height: 4%;
    min-width: fit-content;
    min-height: fit-content;
    transition: all 0.2s;
    border: 0;
}

.sideBarContent:hover{
    transition: all 0.2s;
    width: 95%;	
    cursor: pointer;
}

.sideBarContent.selected{
    width: 95%;
}

#fishing {
    background-image: url(../images/buttonImages/fishing.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(57, 84, 107);
}
#farming {
    background-image: url(../images/buttonImages/farming.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(57, 107, 60);
}
#cooking {
    background-image: url(../images/buttonImages/cooking.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(107, 84, 19);
}
#combat {
    background-image: url(../images/buttonImages/combat.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(107, 57, 57);
}