body {
    color: white;
    margin: 0;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#mainGrid {
    display: flex;
    flex-direction: row;
    flex-grow: 20;

    max-height: 100%;
    max-width: 100%;    
}
#topBar {
    background-color: rgb(156, 91, 137);
    flex-grow: 0.5;

}

#sideBar {
    display: block;
    background-color: rgb(129, 74, 112);
    flex-grow: 1;
}

#mainWindow {
    display: block;
    background-color: rgb(68, 38, 59);
    flex-grow: 8;
}