<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='main.js')}}"></script>
    <script src="https://pixijs.download/release/pixi.js"></script>
</head>
<body>
    <div id="pageContainer">
        <div id="topBar" >test</div>
        <div id="mainGrid">
            <div id="sideBar">
                <button class="sideBarContent selected" id="fishing" onclick="buttonClickedFishing()"></button>
                <button class="sideBarContent" id="farming" onclick="buttonClickedFarming()"></button>
                <button class="sideBarContent" id="cooking" onclick="buttonClickedCooking()"></button>
                <button class="sideBarContent" id="combat" onclick="buttonClickedCombat()"></button>
                <button class="sideBarContent" id="begging" ></button>
                <button class="sideBarContent" id="gambling" ></button>
                <button class="sideBarContent" id="thieving" ></button>
            </div>
            <div id="mainWindow">test</div>
        </div>
    </div>

</body>
</html>